/* #opacity {
    background-color:#89858592;
} */
body {
  background-image: url('../images/backgroundforest.jpg');
  background-size: cover;
  font-family: "Montserrat", serif;
} 

.opacity {
  background-color:#89858592;
}

.opacity1 {
  background-color: rgba(255, 255, 255, 0.861);
}